[core]
	editor = /usr/bin/vim
[advice]
  detachedHead = false
[user]
	name = hira
	email = ohno@lecto.co.jp
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[alias]
	p  = !git push -u origin `git rev-parse --abbrev-ref HEAD`
	mo = !git fetch && git merge origin/`git rev-parse --abbrev-ref HEAD`
	co = checkout
	cm = commit
	d  = diff
	s  = status
	l  = log
  br = branch
  rb = rebase
  f = fetch
  pr = "!git p; sh ~/create_git_pr.sh"
  prn = "!sh ~/create_git_pr.sh"
  del = "!git br | grep -v \"\\*\" | xargs git br -D"

[fetch]
	prune = true
[credential]
	helper = osxkeychain
