[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
[advice]
  detachedHead = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
[user]
	name = hira
	email = ohno@thelooper.jp
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[alias]
	p  = !git push -u origin `git rev-parse --abbrev-ref HEAD`
	co = checkout
	cm = commit
	d  = diff
	s  = status
	l  = log
  br = branch
  rb = rebase
  f = fetch
  pr = "!git p; git prn"
  prn = "!hub browse -- compare/master"
  del = "!git br | grep -v \"\\*\" | xargs git br -D"

[fetch]
	prune = true
[credential]
	helper = osxkeychain
